@charset "utf-8";
.searchwrap{
    width: 600px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}
.searchwrap .no-results{
    padding: 10px 0 150px;
}
.searchwrap h2.title{
    font-size: 36px;
    font-weight: 500;
    padding: 10px 0 40px;
    letter-spacing: 4px;
}
.searchwrap .scIpt{
    width: 510px;
    border: 1px solid #666;
    height: 40px;
    padding: 7px;
    box-sizing: border-box;
}
.searchwrap .scIpt:focus{
    border: 1px solid #0066ff;
}
.searchwrap .scBtn{
    width: 85px;
    height: 40px;
    cursor: pointer;
    background: black;
    color: white;
    letter-spacing: 5px;
    font-size: 14px;
}
.searchwrap .scBtn:hover{
    background: rgb(51, 51, 51);

}
.search_result{
    margin-top: 50px;
}

.search_result ul{
    text-align: left;
}

.search_result li{
    padding: 35px 0;
    border-top: 1px solid #e1e1e1;
}
.search_result li a{
    display: block;
    font-size: 26px;
    color: black;
    padding: 7px 0;
    letter-spacing: 2px;
}
.search_result li .text{
    line-height: 20px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    color: #666;
}

.search_result .moreBtn{
    display: block;
    text-align: center;
    width: 120px;
    height: 34px;
    line-height: 35px;
    cursor: pointer;
    margin: 0 auto;
}
