html,body{
    height: 100%;
    position: relative;
}
body{
    min-width: 810px;
    min-height: 600px;
}
nva .menu-wrap{
    float: right;
    margin-top: 10px;
    font-size: 12px;
}
nva .menu-wrap > li{
    list-style: none;
    float: left;
    padding: 8px;
    font-size: 14px;
    margin-right: 7px;


}
nva .menu-wrap li a{
    color: #333;
    transition: all .2s linear;
    position: relative;
}
nva .menu-wrap li .submenu-wrap{
    position: absolute;
    top: 47px;
    list-style: none;
    display: block;
    border: 1px solid rgba(51,51,51,.3);
    font-size: 12px;
    box-shadow: 0 0 5px 0 rgba(51,51,51,.3);
    visibility: hidden;
    transition: all .3s linear;

}
nva .menu-wrap li .submenu-wrap li{
    padding: 5px 7px;
}


nva .menu-wrap li a:hover{
    color: blue;
}
nva .menu-wrap li:hover .submenu-wrap{
    visibility: visible;
}
nva .menu-wrap li .submenu-wrap li:hover{
    background: rgba(0, 0, 255, 0.79);
    color: white;
    cursor: pointer;
}

nva .menu-wrap > li:last-child > a{
    background: rgb(51,136,255);
    color: white;
    display: inline-block;
    padding: 1px;
    text-decoration: none;
}

nva .menu-wrap > li:last-child .aside-menu{
    list-style: none;
    width: 90px;
    background: #f9f9f9;
    min-height: 647px;
    height: 100%;
    border-left: 1px solid #e7e7e7;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;
    transition: all .1s linear;
}
nva .menu-wrap > li:last-child .aside-menu li{
    text-align: center;
    padding: 9px 0;
    position: relative;
}
nva .menu-wrap > li:last-child .aside-menu li:not(:first-child){
    height: 80px;
    box-sizing: border-box;

}
nva .menu-wrap > li:last-child .aside-menu li a{
    font-size: 12px;
}
nva .menu-wrap > li:last-child .aside-menu li:not(:last-child) a{
    text-decoration: none;
}
nva .menu-wrap > li:last-child .aside-menu li a:hover{
    text-decoration: underline;
    color: #333;
}


nva .menu-wrap > li:last-child .aside-menu li:not(:first-child):before{
    content: '';
    width: 74px;
    height: 1px;
    background: rgba(51,51,51,.1);
    position: absolute;
    top: 0;
    right: 8px;
}

nva .menu-wrap > li:last-child:hover .aside-menu{
    visibility: visible;
    opacity: 1;
}
/* 侧边栏图片 */
nva .menu-wrap > li:last-child .aside-menu li span{
    display: block;
    width: 36px;
    height: 36px;
    margin: 5px auto;
    background: url("../imgs/bdbri_icons_0a62ce1.png") no-repeat;
}

nva .menu-wrap > li:last-child .aside-menu .music span{
    width: 40px;
    background-position: -72px 0px;
}
nva .menu-wrap > li:last-child .aside-menu .pic span{
    background-position: -112px 0px;
}
nva .menu-wrap > li:last-child .aside-menu .know span{
    background-position: -36px 0px;
}
nva .menu-wrap > li:last-child .aside-menu .library span{
    background-position: -148px 0px;
}
nva .menu-wrap > li:last-child .aside-menu .Billboard span{
    background-position: -184px 0px;
}

main{
    text-align: center;
    margin-top: 6%;

}
main .baiduLogo{
    width: 270px;
    height: 129px;
}
main .container form{
    margin: 22px auto 0;
    font-size: 0;
}
main .container form .searchIpt{
    width: 540px;
    height: 36px;
    outline: none;
    border: 1px solid rgb(133, 133, 133);
    box-sizing: border-box;
    padding: 7px;
}
main .container form .searchIpt:focus{
    border: 1px solid rgb(51,133,255);
}
main .container form button{
    width: 100px;
    height: 36px;
    background: rgb(51,133,255);
    color: #fff;
    cursor: pointer;
    position: relative;
    left: -1px;
    top: 1px;
    border: 1px solid rgb(51,133,255);
    outline: none;
    transition: all .1s linear;
}
main .container form button:hover{
    background: rgb(51, 125, 243);
    border: 1px solid rgb(51, 125, 243);
}
footer{
    text-align: center;
    position: absolute;
    bottom: 47px;
    width: 100%;
    font-size: 12px;
    color: #9a9a9a;
}

footer a{
    color: #9a9a9a;
}
footer .ftbd{
    color: #333;
}
footer .ftabout{
    margin: 10px 0;
}
footer .ftabout a{
    margin: 0 7px;
}