@charset 'utf-8';
.ct-list li{
    display: flex;
    justify-content: space-around;
    padding:8px 10px;
    margin:10px ;   
    border-bottom:1px solid #ccc;
    align-items: center;
}
.left-box{
    width:30%;

}
.left-box img{
    width:100%;
    border-radius:5px;
}
.right-box{
    width:66%;
}
.ct-list .title{
    font-weight: bold;
    font-size: 15px;
}

.ct-list .tel{
    color:rgb(199,27,10);
    margin-bottom:5px;

}