@charset 'utf-8';
.navigationBar{
    height: 64px;
    background:#333;
    color:#fff;
    line-height: 64px;
    text-align: center;
    position: relative;

}
.goback-btn{
    position: absolute;
    top:50%;
    left:8px;
    color: #fff;
    font-size: 18px;
    transform: translateY(-50%)
}
.navigationBar .title{
    letter-spacing:3px;
    color:#fff;
}
