@charset "UTF-8";

.wrapper{
    width: 95%;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

#header,
#footer,
#content {
    width: 100%;
    min-width: 1200px;
}

/**
    头部样式
 */

 #header .wrapper {
     position: relative;
 }

 #header .header_t {
     padding: 25px 0;
     background: #f3f3f3;
 }

 #header .header_t a {
     display: inline-block;
     margin-left: 16px;
     font-size: 14px;
     line-height: 22px;
     color: #333;  
     vertical-align: middle; 
 }

 #header .header_b {
     background: #0046aa;
 }

 #header .menu_list li {
     float: left;
 }

 #header .menu_list a {
     display: inline-block;
     padding: 0 20px; 
     line-height: 51px;
     color: #fff;
     font-size: 14px;
     transition: background .25s linear;
 }

 #header .menu_list a:hover {
     background:  #0954be;
 }

 #header .search {
     cursor: pointer;
     position: absolute;
     top: 50%;
     right: 0;
     transform: translateY(-50%);
 }

/* 位置 */
#content .current_address{
    padding: 24px 0;
    color: #666;
    font-size: 12px;
}

#content .current_address a{
    color: #666;
}

#content .current_address a:hover{
    color: #004baa;
}

 /**
    尾部样式
   */

#footer {
    background: #0046aa;
}
#footer .footer_t {
    padding: 45px 0 50px;
}


#footer .links_list {
    width: 70%;
    /* 弹性布局 */
    display: flex;
    /* 设置主轴对齐方式 */
    justify-content: space-between;
}

#footer .links_list li {
    display: inline-block;
    vertical-align: top;
}

#footer .links_list a {
    color: #fff;
}

#footer .links_list dt {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

#footer .links_list dd {
    font-size: 12px;
    line-height: 24px;
}

#footer .code {
    width: 20%;
    color: rgba(255,255,255, .7)
}

#footer .code dd {
    width: 50%;
    text-align: center;
    font-size: 14px;
}

#footer .code dd img {
    margin-bottom: 10px;
}

#footer .code a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    width: 100%;
    height: 45px;
    background: #1a5ebf;
    font-size: 14px;
    color: #fff;
    transition: background .25s linear;
}

#footer .code a:hover {
    background: #004baa;
}

#footer .footer_b {
    border-top: 1px solid rgba(255,255,255, .1);
    padding: 25px 0;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255,255,255,.7);
}

#footer .footer_b a {
    color: rgba(255,255,255,.7);
}

#footer .footer_b a:hover {
    color: #fff;
}

#footer .info-list > li {
    display: inline-block;
    padding: 0 20px;
}

#footer .info-list > li:first-child {
    padding-left: 0;
}

#footer .info-list > li:not(:last-child) {
    border-right: 1px solid rgba(255,255,255,.7);;
}

/* 侧边栏 */
.rg_side{
    right: 0;
    top: 30%;
    position: fixed;
    z-index: 101;
}

.rg_side a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #3d89cf;
    background: white;
    position: relative;
    margin-bottom: -2px;
    position: relative;
    box-sizing: border-box;
}

.rg_side .online:after{
    /*content: url("../images/right_icon011.png") "在线客服";*/
    content: "在线客服";
    position: absolute;
    top: -1px;
    right: -150px;
    height: 40px;
    width: 150px;
    background: #1570C5;
    transition: all .3s linear;
    color: white;
    line-height: 40px;
    padding: 0 24px;
    box-sizing: border-box;
    font-size: 14px;
}

.rg_side .online:hover:after{
    content: "在线客服";
    right: 0;
    width: 150px;
}

.rg_side a  img{
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
