@charset "utf-8";

img{
    vertical-align: middle;
}

/* banner 区域 */
.banner_wrapper{
    height: 360px;
    background: url("../images/ir/ir_banner.jpg") no-repeat center center;
    background-size: cover;
}

/* 投资者关系 */
.ir_wrapper{
    padding-bottom: 133px;
}

.ir_wrapper > h2{
    font-size: 30px;
    color: #333;
    padding-bottom: 30px;
    font-weight: normal;
}

.ir_wrapper > h3{
    font-size: 24px;
    color: #333;
    padding-bottom: 20px;
    font-weight: normal;
}

.ir_wrapper .ac_pic{
    text-align: center;
}

/* 最新公告 */
.new_ac {
    background: #eaeaea;
    padding: 40px 0 90px;
}

.new_ac .new_nav{
    width: 100%;
    text-align: center;
    padding-bottom: 27px;
}

.new_ac .new_nav a:first-child{
    color: #004baa;
}

.new_ac .new_nav a{
    font-size: 24px;
    color: #333;
}

.new_ac .new_nav a:hover{
    color: #004baa;
}

.new_ac .new_nav span{
    padding: 0 22px;
    color: #6e6e6e;
    font-size: 20px;
}

.new_ac .new_nav img{
    margin-left: 30px;
}

.new_ac .news_detail{
    background: white;
    text-align: center;
}

.new_ac .news_detail li{
    padding: 30px;
    border-bottom: 1px solid #eaeaea;
    transition: all .3s linear;
}

.new_ac .news_detail li > .fl{
    text-align: left;
    width: 80%;
    box-sizing: border-box;
}

.new_ac .news_detail li > .fr{
    width: 20%;
    box-sizing: border-box;
}

.new_ac .news_detail li .news_list time{
    width: 8%;
    font-size: 12px;
    color: #6e6e6e;
    text-align: right;
}

.new_ac .news_detail li .news_list span{
    width: 90%;
}

.new_ac .news_detail li .fr a{
    border: 2px solid #eaeaea;
    padding: 10px 20px 10px 20px;
    color: #6e6e6e;
    font-size: 14px;
    margin-left: 3px;
    transition: all .3s linear;
    position: relative;
}

.new_ac .news_detail li > .fr .hide{
    display: none;
}

.new_ac .news_detail .more{
    margin: 30px 0;
    display: inline-block;
    background: #004baa;
    color: white;
    font-size: 14px;
    text-align: center;
    width: 250px;
    height: 60px;
    line-height: 60px;
}

.new_ac .news_detail .more img{
    margin: -2px 10px 0 0;
    transition: all .3s linear;
}

/* hover 事件*/
.new_ac .news_detail .more:hover img{
    margin:0 3px 0 0;
}

.new_ac .news_detail li:hover .hide{
    display: inline;
}

.new_ac .news_detail li:hover .show{
    display: none;
}

.new_ac .news_detail li:hover {
    background: #F5F5F5;
}

.new_ac .news_detail li:hover  .news_list span{
    color: #004baa;
}

.new_ac .news_detail li:hover > .fr a{
    background: #004baa;
    color: white;
}

/* 实时行情 */
.market{
    padding: 54px 0;
}

.market > h3{
    font-size: 24px;
    color: #333;
    padding-bottom: 20px;
    font-weight: normal;
}

.market .mk_data{
    width: 650px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
}

/* 其它服务 */
.other_service{
    margin: 40px auto;
}

.other_service a{
    color: #333;
}

.other_service ul{
    display: flex;
    justify-content: center;
    text-align: center;
}

.other_service ul li{
    width: 30%;
    font-size: 18px;
    line-height: 60px;
    vertical-align: middle;
}

.other_service ul li img{
    margin-right: 25px;
    vertical-align: middle;
}

.other_service ul li:not(:last-child){
    border-right: 1px solid #e1e1e1;
}

.other_service ul li:hover a{
    color: #0046aa;
}
